<template>
  <div class="login">
    <h3>登录</h3>
    <div>
      <div>
        <el-input></el-input>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  setup () {
    return {}
  }
})
</script>

<style scoped>

</style>