<template>
  <ul class="content">
    <li class="e-flex e-justify-between list" v-for="(item, index) in list" :key="item.id">
      <div class="e-flex e-flex-1">
        <div
          class="msg"
          :class="{'text-through': item.status === 3}"
          @dblclick="editTodo(item.id)"
        >
          <div v-if="!item.editChecked">{{ item.value }}</div>
          <div v-else>
            <el-input
              class="edit-input"
              maxlength="20"
              v-model="item.value"
              clearable
              size="mini"
              placeholder="请输入内容"
              @keyup.native.enter="editTodo(item.id, 'enter')"
            />
          </div>
        </div>
      </div>
      <div class="btns">
        <el-button
          v-if="item.status < 3"
          class="txt-btn"
          type="text"
          @click="handlerUpdate(item.id)"
        >
          {{ nextTodo(item.status) }}
        </el-button>
        <el-button
          class="txt-btn"
          type="text"
          @click="delTodo(item.id)"
        >
          删除
        </el-button>
      </div>
    </li>
  </ul>
</template>

<script lang="ts">
import { defineComponent, ref, PropType  } from 'vue'
import { useStore } from 'vuex';
import { UPDATE_TODO, DEL_TODO, EDIT_TODO } from '../../store/storeTypes';
import { IToDo } from '../../types';

export default defineComponent({
  props: {
    list: {
      type: Array as PropType<IToDo[]>,
      default: () => [] as IToDo[]
    }
  },
  setup (props) {
    console.log('todoList===>>>', props);
    
    const store = useStore();
    const nextTodo = (status: number): string => {
      const statusObj: {
        [key: number]: string
      } = {
        1: '开始',
        2: '完成',
      }
      return statusObj[status];
    }

    // 更新状态
    const handlerUpdate = (id: number):void => {
      store.dispatch(UPDATE_TODO, id);
    }
    // 编辑
    const editTodo = (id: number, type?: string|undefined): void => {
      store.dispatch(EDIT_TODO, { id, type });
    }
    // 删除todo
    const delTodo = (id: number): void => {
      store.dispatch(DEL_TODO, id);
    }
    return {
      handlerUpdate,
      delTodo,
      editTodo,
      nextTodo
    }
  }
})
</script>

<style scoped lang="scss">
.content {
  padding: 10px 20px;
  max-height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
  user-select: none;
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-thumb {
    width: 2px;
    background: #ccc;
  }
  .list {
    list-style: none;
    line-height: 30px;
   
    .msg {
      margin-left: 10px;
      color: #333333;
      width: 100%;
    }
    .edit-input {
      width: 200px;
      margin-right: 10px;
    }
    .text-through {
      text-decoration: line-through;
    }
    .txt-btn {
      padding: 0;
      min-height: auto;
      text-align: right;
    }
  }
}

</style>