<template>
  <el-tabs class="tabs" type="card" v-model="tab">
    <el-tab-pane v-for="item in tabs" :key="item.status" :label="item.label" :name="`${item.status}`"/>
  </el-tabs>
  <el-empty v-if="!list.length" description="暂无信息"></el-empty>
  <TodoList v-else :list="list"/>
</template>

<script lang="ts">
import { defineComponent, ref, computed } from 'vue'
import { TODO_STUTAS, IToDo, Itabs } from '../../types';
import TodoList from '../todoList/TodoList.vue';
import { useStore } from 'vuex';
import { RootTabs } from 'element-plus/lib/el-tabs/src/tabs.vue';


export default defineComponent({
  components: {TodoList},
  setup() {
    const tab = ref<string>('0');
    const store = useStore();
    const tabs = [{
      status: '0',
      label: '全部'
    }, {
      status: '1',
      label: '未完成'
    }, {
      status: '2',
      label: '进行中'
    }, {
      status: '3',
      label: '已完成'
    }]
    const list = computed({
      get():IToDo[] {
        return store.state.todoList.filter((item) => {
          if (tab.value === '0') {
            return item;
          }
          
          if (item.status === +tab.value) {

            return item;
          }
        })
      },
      set(todo: IToDo[]) {
        return todo;
      }
    })
    
    return {
      tab,
      tabs,
      list
    }
  }
})
</script>

<style lang="scss">
.tabs {
  margin-top: 20px;
}
</style>