<template>
  <div class="wrap">
    <h2 style="text-align: center">TODO</h2>
    <TodoInput />
    <TodoPanel />
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import TodoInput from '@/components/todoInput/TodoInput.vue';
import TodoPanel from '@/components/todoPanel/TodoPanel.vue';
import { useRouter, useRoute } from 'vue-router';
export default defineComponent({
  setup () {
    const router = useRouter()
    console.log(router, 'router');
    router.addRoute({ path: '/admin', name: 'admin', component: TodoPanel })
    setTimeout(() => {
      
      console.log(router.hasRoute('admin'));
      
      console.log(router.getRoutes());
      
    }, 2000)
    // const route = useRoute();
    // console.log(route, 'route');
    
    
  },
  components: {
    TodoInput,
    TodoPanel
  }
})
</script>

<style scoped lang="scss">
.wrap {
  width: clamp(300px, 50vw, 800px);
  border-radius: 20px;
  box-shadow: 0 1px 20px 1px#ccc;
  padding: 20px;
  margin: 50px auto;
}
</style>