<template>
  <div class="e-flex e-justify-center">
    <el-input
      v-model="inputVal"
      placeholder="请输入内容"
      maxlength="20"
      clearable
      class="input"
      @keyup.native.enter="add"
    >
    </el-input>
    <el-button class="add-btn" @click="add">添 加</el-button>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, getCurrentInstance, ComponentInternalInstance  } from 'vue';
import { useStore } from 'vuex';
import { ADD_TODO } from '../../store/storeTypes';
import { TODO_STUTAS, IToDo } from '../../types';
export default defineComponent({
  setup () {
    const { appContext } = getCurrentInstance();
    const { $open3, $open2 } = appContext.config.globalProperties;
    
    const store = useStore();
    const inputVal = ref('');
    const add = () => {
      if (!inputVal.value) {
        console.log('ohuo');
        $open3('请输入内容');
        return;
      }
      const list: IToDo = {
        id: Date.now(),
        value: inputVal.value,
        checked: false,
        status: TODO_STUTAS.unfinished,
        editChecked: false,
      }
      store.dispatch(ADD_TODO, list);
      inputVal.value = '';
      $open2('添加成功');
    }
    return {
      inputVal,
      add
    }
  }
})
</script>

<style scoped lang="scss">
  .input {
    width: 50%;
  }
  .add-btn {
    margin-left: 20px;
  }
</style>